{
 "openapi": "3.0.0",
 "info": {
  "title": "Daily Exports API",
  "description": "Export ALL device-level data from a specific day.",
  "termsOfService": "https://branch.io/policies/",
  "contact": {
   "name": "Branch Support",
   "url": "https://help.branch.io/using-branch/page/submit-a-ticket",
   "email": "support@branch.io"
  },
  "version": "1.0.0"
 },
 "servers": [
  {
   "url": "https://api2.branch.io/v3"
  }
 ],
 "paths": {
  "/export": {
   "post": {
    "tags": [
     "Daily Exports API"
    ],
    "summary": "Request Daily Export",
    "description": "Export ALL device-level data from a specific day.\n",
    "operationId": "postDailyExports",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/daily_exports_body"
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Status of aggregate export",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inline_response_200_post_daily_export"
        }
       }
      }
     },
     "400": {
      "description": "Authentication Failed",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inline_response_400"
        },
        "examples": {
         "Result": {
          "value": "{\n    \"error\": {\n        \"message\": \"Authentication failed !\",\n        \"code\": 400\n    }\n}"
         }
        }
       }
      }
     },
     "429": {
      "description": "Rate Limit Reached",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "error": {
           "type": "object",
           "properties": {
            "code": {
             "type": "integer",
             "example": "429"
            },
            "message": {
             "type": "string",
             "example": "Rate limit reached."
            }
           }
          }
         }
        },
        "examples": {
         "Result": {
          "value": "{\n    \"error\": {\n        \"code\": 429,\n        \"message\": \"Rate limit reached.\"\n    }\n}"
         }
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "daily_exports_body": {
    "type": "object",
    "description": "Daily Exports Request Body",
    "properties": {
     "branch_key": {
      "description": "The Branch Key of the originating app obtained in your [Account Settings](https://help.branch.io/using-branch/docs/profile-settings)",
      "type": "string",
      "example": "key_live_xxxx"
     },
     "branch_secret": {
      "description": "The Branch Secret Key of the originating app obtained in your [Account Settings](https://help.branch.io/using-branch/docs/profile-settings)",
      "type": "string",
      "example": "secret_live_xxxx"
     },
     "export_date": {
      "description": "The UTC date of the requested data export.",
      "type": "string",
      "format": "date",
      "example": "2023-05-19"
     }
    },
    "required": [
     "branch_key",
     "branch_secret",
     "export_date"
    ]
   },
   "inline_response_200_post_daily_export": {
    "type": "object",
    "properties": {
     "eo_branch_cta_view": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": "https://branch-exports-web-usw2.s3.us-west-1.amazonaws.com/api_export/y%3D2023/m%3D05/d%3D19/app_id%3D{APP_ID_HERE}/topic%3Deo_branch_cta_view/unique-csv-file-name-here.csv.gz?X-Amz-Algorithm={AMZ_ALGORITHM_HERE}&X-Amz-Date={AMZ_DATE_HERE}&X-Amz-SignedHeaders={AMZ_SIGNED_HEADERS_HERE}&X-Amz-Expires={AMZ_EXPIRATION_HERE}&X-Amz-Credential={AMZ_CREDENTIAL_HERE}&X-Amz-Signature={AMZ_SIGNATURE_HERE}\n"
      }
     },
     "eo_click": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": "https://branch-exports-web-usw2.s3.us-west-1.amazonaws.com/api_export/y%3D2023/m%3D05/d%3D19/app_id%3D{APP_ID_HERE}/topic%3Deo_click/unique-csv-file-name-here.csv.gz?X-Amz-Algorithm={AMZ_ALGORITHM_HERE}&X-Amz-Date={AMZ_DATE_HERE}&X-Amz-SignedHeaders={AMZ_SIGNED_HEADERS_HERE}&X-Amz-Expires={AMZ_EXPIRATION_HERE}&X-Amz-Credential={AMZ_CREDENTIAL_HERE}&X-Amz-Signature={AMZ_SIGNATURE_HERE}\n"
      }
     },
     "eo_commerce_event": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": "https://branch-exports-web-usw2.s3.us-west-1.amazonaws.com/api_export/y%3D2023/m%3D05/d%3D19/app_id%3D{APP_ID_HERE}/topic%3Deo_commerce_event/unique-csv-file-name-here.csv.gz?X-Amz-Algorithm={AMZ_ALGORITHM_HERE}&X-Amz-Date={AMZ_DATE_HERE}&X-Amz-SignedHeaders={AMZ_SIGNED_HEADERS_HERE}&X-Amz-Expires={AMZ_EXPIRATION_HERE}&X-Amz-Credential={AMZ_CREDENTIAL_HERE}&X-Amz-Signature={AMZ_SIGNATURE_HERE}\n"
      }
     },
     "eo_content_event": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": "https://branch-exports-web-usw2.s3.us-west-1.amazonaws.com/api_export/y%3D2023/m%3D05/d%3D19/app_id%3D{APP_ID_HERE}/topic%3Deo_content_event/unique-csv-file-name-here.csv.gz?X-Amz-Algorithm={AMZ_ALGORITHM_HERE}&X-Amz-Date={AMZ_DATE_HERE}&X-Amz-SignedHeaders={AMZ_SIGNED_HEADERS_HERE}&X-Amz-Expires={AMZ_EXPIRATION_HERE}&X-Amz-Credential={AMZ_CREDENTIAL_HERE}&X-Amz-Signature={AMZ_SIGNATURE_HERE}\n"
      }
     },
     "eo_custom_event": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": ""
      }
     },
     "eo_impression": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": ""
      }
     },
     "eo_install": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": "https://branch-exports-web-usw2.s3.us-west-1.amazonaws.com/api_export/y%3D2023/m%3D05/d%3D19/app_id%3D{APP_ID_HERE}/topic%3Deo_install/unique-csv-file-name-here.csv.gz?X-Amz-Algorithm={AMZ_ALGORITHM_HERE}&X-Amz-Date={AMZ_DATE_HERE}&X-Amz-SignedHeaders={AMZ_SIGNED_HEADERS_HERE}&X-Amz-Expires={AMZ_EXPIRATION_HERE}&X-Amz-Credential={AMZ_CREDENTIAL_HERE}&X-Amz-Signature={AMZ_SIGNATURE_HERE}\n"
      }
     },
     "eo_open": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": "https://branch-exports-web-usw2.s3.us-west-1.amazonaws.com/api_export/y%3D2023/m%3D05/d%3D19/app_id%3D{APP_ID_HERE}/topic%3Deo_open/unique-csv-file-name-here.csv.gz?X-Amz-Algorithm={AMZ_ALGORITHM_HERE}&X-Amz-Date={AMZ_DATE_HERE}&X-Amz-SignedHeaders={AMZ_SIGNED_HEADERS_HERE}&X-Amz-Expires={AMZ_EXPIRATION_HERE}&X-Amz-Credential={AMZ_CREDENTIAL_HERE}&X-Amz-Signature={AMZ_SIGNATURE_HERE}\n"
      }
     },
     "eo_pageview": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": "https://branch-exports-web-usw2.s3.us-west-1.amazonaws.com/api_export/y%3D2023/m%3D05/d%3D19/app_id%3D{APP_ID_HERE}/topic%3Deo_pageview/unique-csv-file-name-here.csv.gz?X-Amz-Algorithm={AMZ_ALGORITHM_HERE}&X-Amz-Date={AMZ_DATE_HERE}&X-Amz-SignedHeaders={AMZ_SIGNED_HEADERS_HERE}&X-Amz-Expires={AMZ_EXPIRATION_HERE}&X-Amz-Credential={AMZ_CREDENTIAL_HERE}&X-Amz-Signature={AMZ_SIGNATURE_HERE}\n"
      }
     },
     "eo_reinstall": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": "https://branch-exports-web-usw2.s3.us-west-1.amazonaws.com/api_export/y%3D2023/m%3D05/d%3D19/app_id%3D{APP_ID_HERE}/topic%3Deo_reinstall/unique-csv-file-name-here.csv.gz?X-Amz-Algorithm={AMZ_ALGORITHM_HERE}&X-Amz-Date={AMZ_DATE_HERE}&X-Amz-SignedHeaders={AMZ_SIGNED_HEADERS_HERE}&X-Amz-Expires={AMZ_EXPIRATION_HERE}&X-Amz-Credential={AMZ_CREDENTIAL_HERE}&X-Amz-Signature={AMZ_SIGNATURE_HERE}\n"
      }
     },
     "eo_user_lifecycle_event": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": ""
      }
     },
     "eo_web_session_start": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": "https://branch-exports-web-usw2.s3.us-west-1.amazonaws.com/api_export/y%3D2023/m%3D05/d%3D19/app_id%3D{APP_ID_HERE}/topic%3Deo_web_session_start/unique-csv-file-name-here.csv.gz?X-Amz-Algorithm={AMZ_ALGORITHM_HERE}&X-Amz-Date={AMZ_DATE_HERE}&X-Amz-SignedHeaders={AMZ_SIGNED_HEADERS_HERE}&X-Amz-Expires={AMZ_EXPIRATION_HERE}&X-Amz-Credential={AMZ_CREDENTIAL_HERE}&X-Amz-Signature={AMZ_SIGNATURE_HERE}\n"
      }
     },
     "eo_web_to_app_auto_redirect": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": ""
      }
     },
     "eo_dismissal": {
      "description": "N/A",
      "type": "array",
      "items": {
       "type": "string",
       "example": ""
      }
     }
    }
   },
   "inline_response_400": {
    "type": "object",
    "properties": {
     "error": {
      "$ref": "#/components/schemas/inline_response_400_error"
     }
    }
   },
   "inline_response_400_error": {
    "type": "object",
    "properties": {
     "message": {
      "type": "string",
      "example": "Authentication failed !"
     },
     "code": {
      "type": "integer",
      "example": "400"
     }
    }
   }
  }
 }
}